body {
    font-family: courier, monospace;

}
h1 {
    font: bold 55px 'VT323', courier, monospace;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-bottom: solid 4px saddlebrown;
}
#container {
    background-color: #000;
    color: #fff;
    width: 800px;
    height: 600px;
    font-family: 'VT323', courier, monospace;
}
#gantt {
    position: relative;
}
#progress_bar {
    position: absolute;
    top: 19px;
    width: 128px;
    height: 507px;
    background-color: orange;
    display: block;
    opacity: 0.5
}
