body {
    font-family: courier, monospace;

}
h1 {
    font: normal 60px 'VT323', courier, monospace;
    text-align: center;
    margin-bottom: 0px;
}
div.line {
    border-bottom: solid 4px saddlebrown;
    width: 95%;
    margin: 15px;
}
#container {
    background-color: #000;
    color: #fff;
    width: 800px;
    min-height: 600px;
    font-size: 18px;
    padding: 20px;
}
#inner {
    margin: 0px 50px 0px 50px;
    min-height: 450px;
}
#gantt {
    position: relative;
}
#progress_bar {
    position: absolute;
    top: 19px;
    width: 128px;
    height: 507px;
    background-color: orange;
    display: block;
    opacity: 0.5
}
#controls {
    text-align: center;
    font: normal 32px 'VT323', courier, monospace;
}
#choices {
    margin-left: 30px;
}
#choices li {
    font-weight: bold;
    text-transform: capitalize;
}