body {
    font-family: courier, monospace;
}
div #gantt {
    position: relative;
}
div #progress_bar {
    position: absolute;
    top: 19px;
    width: 64px;
    height: 507px;
    background-color: orange;
    display: block;
    opacity: 0.5
}
